@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Gurmukhi", sans-serif;
}

.App{
  
}